body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    background-color: #111111;
    color: #fff;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.title {
    margin-top: 0;
    padding: 15px;
    text-align: center;
    background-color: #3369fd;
}

.info-banner {
    margin-bottom: 25px;
    text-align: center;
}

.buttons {
    color: #fff;
    padding: 10px;
    border: 0;
    border-radius: 5px;
    background: #1900ff;
    cursor: pointer;
}

.buttons:hover {
    background: #1900ff81;
}

.cards {
    gap: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-info {
    cursor: pointer;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    max-width: 300px;
    background-color: #5a57571c;
}

.card-info img {
    max-width: 300px;
    max-height: 150px;
}

@media (max-width: 600px) {

    img {
        width: 100%;
    }
}